body {
    background-color: burlywood;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    margin: 100px 0;
}
#number-expense{
    align-items: center;
    size:100px;
}
#log-section{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.total-tracker{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 100px;
}